<div class="footer">
  {%- if include.note or include.slot %}
  <div class="footer-note">{{ include.note }}</div>
  {%- endif %}
  <div class="social-row">
    <a href="https://github.com/kambiz">GitHub</a>
    <a href="https://www.twitter.com/kambiz">Twitter</a>
    <a href="https://www.linkedin.com/in/kambiz">LinkedIn</a>
    <a href="https://www.last.fm/user/kambizkamrani">Last.fm</a>
    <a href="https://www.strava.com/athletes/kambizkamrani">Strava</a>
  </div>
  <div>Kambiz Kamrani &middot; kambiz.github.io</div>
</div>
